<h2 class="page-header">Customer</h2>
<h4><strong>ID: {{ id }}</strong><h4>

<form (submit)="onUpdateSubmit(id)" >
  <div class="form-group">
    <label>First Name</label>
    <input type="text" [(ngModel)]="firstname" name="firstname" class="form-control">
  </div>
   <div class="form-group">
    <label>Last Name</label>
    <input type="text" [(ngModel)]="lastname" name="lastname" class="form-control">
  </div>
  <div class="form-group">
    <label>Birth Date</label>
    <input type="date" [(ngModel)]="birthdate" name="birthdate" useValueAsDate class="form-control">
  </div>

  <a class="btn btn-warning" [routerLink]="['/dashboard']">Cancel</a>
  <input type="submit" class="btn btn-primary" value="Save Customer">

</form>


