<div class="panel-body">
    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Birthday</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers" [class.acive]="i == selectedRow">
                <td><a class="btn btn-primary" [routerLink]="['/edit', customer.Id]">Edit</a> || <a class="btn btn-danger" [routerLink]="['/remove', customer.Id]">Delete</a></td>
                <td>{{customer.First_Name}}</td>
                <td>{{customer.Last_Name}}</td>
                <td>{{customer.BirthDate | date: 'dd'}}/{{customer.BirthDate | date:'MM'}}/{{customer.BirthDate | date: 'yyyy'}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="well well-lg">
   <a class="btn btn-default" [routerLink]="['']">Home</a>
    <a class="btn btn-primary" [routerLink]="['/add']">Add Customers</a>
</div>